

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
ul
{
    list-style-type: none;
}
.btn-light{
 
  --bs-btn-font-size:3rem !important;
  
}

li {
  width: 10%;
  height:auto;
  

}
.calendar{
  float:right;
  width:90%;
}
.sidebar{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}
img{
  max-width: 300%;
  height: auto;
}



.sign-up-box {
  text-align: center;
  margin-top: 60px;
}

.sign-up.sign-up-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.sign-up-button {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 327px;
  height: 48px;
  background: #64d2b5 !important;
  border-radius: 8px;
}

.grey-sign-up-button {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 327px;
  height: 48px;
  background: grey !important;
  border-radius: 8px;
}

.sign-up-input {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 327px;
}

.course-container {
  display: flex;
  flex-direction: row;
}

.course {
  border: 1px solid black;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #000000;
  border-radius: 25px;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  margin-right: 40px;
}

.course-name {
  text-align: center;
}

.hidden-course {
 border: none !important;
 background: none !important;
}

.course-icon {
  text-align: center;
  padding-top: 10px;
}

.navbar-toggler-icon{
  background-image:none !important;
}

.course-and-boxes {
  margin-top: 50px;
  margin-left: 150px;
}

.grey-picture-button {
  opacity: .2;
}.picture-button {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  height: 100px;
  border-radius: 8px;
}

.wrapper {
  margin-left: 150px;
}

.profile {
  text-align: center;
  width: 180px;
  margin-left: 35vw;
}

.circle {
  border: 1px solid black;
  height: 180px;
  justify-content: center;
  border-radius: 90px;
}

.bar {
  border: 1px solid black;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 320px;
  text-align: center;
  border-radius: 10px;
}

.in-review {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
}

.status-button {
  border: 5px solid orange;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}


.progress-chart {
  margin-left: 100px;
  margin-left: 30vw;
}

/* Mobile optimizations */
@media (max-width: 580px) { 
  .btn-light{
 
    --bs-btn-font-size:2.2rem !important;
    
  }
  .board{
    width:40% !important;
  }
};

